body, html {
    margin: 0;
    padding: 0;
    background: #ebd2c2;
    font-family: 'Open Sans', sans-serif;
    color: #190D38;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    font-family: 'Raleway', sans-serif;
}

p {
    margin-top: 0;
    margin-bottom:0.9rem;
}

a {
    color: #6948bb;
    font-weight:bold;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1 {
    position: relative;
    font-size: 2.5rem;
    animation: appear 1s cubic-bezier(0.190, 1.000, 0.220, 1.000) both;
    animation-delay: 0.2s;
}

h2 {
    position: relative;
    font-style: italic;
    font-weight: normal;
    font-size:1.1rem;
    animation: appear 1s cubic-bezier(0.190, 1.000, 0.220, 1.000) both;
    animation-delay: 0.3s;
    max-width:40vw;
}

h3 {
    margin-bottom:0.3rem;
}

.highlight {
    font-weight: bold;
}

main {
    display: grid;
    grid-template-columns: [first] auto [line2] 25vw [line3] auto [end];
    grid-template-rows: [heading-start] 2.7rem [heading-end] 3.5rem [center-start] auto [center-end] auto [last-line];
    gap: 10px 20px;
    justify-content: center;
    align-items: start;
    box-sizing: border-box;
    padding: 2rem;
    padding-top:1.2rem;
    padding-bottom: 0.5rem;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.397);
    color: #E4E0DD;
    width: 100%;
    min-height: 100vh;
    background-color: #190D38;
    background-image: url("./assets/background_bright.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

main header {
    grid-column-start: first;
    grid-column-end: line3;
}

main .sub-header {
    grid-column-start: first;
    grid-column-end: line3;
    grid-row-start: heading-end;
}

main .credit {
    grid-column-start: line3;
    grid-row-end: heading-end; 
    text-align: right;
    font-size:0.8rem;
}

.text-box {
    position: relative;
    box-sizing: border-box;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.226);
    font-size: 0.8rem;
    background-color: #443b6bb9;
    padding: 0.5rem;
    margin-bottom:1.8rem;
    border-radius: 1rem;
    animation: appear 1s cubic-bezier(0.190, 1.000, 0.220, 1.000) both;
    animation-delay: 0.5s;
}

.footnote {
    position: relative;
    display: none;
    font-size: 80%;
    font-style: italic;
    padding-top:0.5rem;
    border-top: solid 1px white;
    transition:all 0.3s;
    animation: appear 0.3s cubic-bezier(0.190, 1.000, 0.220, 1.000) both;
}

.reference {
    color:rgb(189, 158, 240);
    cursor: pointer;
    font-weight: normal;
}

.reference:hover {
    text-decoration: underline;
}

main #left-text {
    grid-column-start: first;
    grid-column-end: line2;
    grid-row-start: center-start;
    grid-row-end: last-line;
}

main #right-text {
    grid-column-start: line3;
    grid-column-end: end;
    grid-row-start: center-start;
    grid-row-end: center-end;
    grid-row-end: last-line;
}

main .scroll {
    position: relative;
    animation: appear 1s cubic-bezier(0.190, 1.000, 0.220, 1.000) both;
    animation-delay: 0.8s;
    grid-column-start: line2;
    grid-column-end: line3;
    grid-row-start: center-end;
    text-align:center;
    align-self: end;
    font-size: 0.9rem;
}


main .scroll img {
    width: 3rem;
    filter: invert(99%) sepia(1%) saturate(1922%) hue-rotate(315deg) brightness(88%) contrast(101%);
}

main .image {
    grid-column-start: line2;
    grid-column-end: line3;
    grid-row-start: heading-end;
    grid-row-end: center-end;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#wormhole {
    z-index: 2;
    width: auto;
    height: auto;
    max-width:100%;
    max-width: 300px;
    position: relative;
}

#wormhole:hover {
    animation: jello-vertical 0.9s both;
}

#pen {
    position: relative;
    transform-origin: bottom;
    transform: rotate(12deg);
    animation: idle 3s infinite ease-in-out 0.8s;
    top: 10px;
    max-height: 200px;
    display: block;
}

.pen-container {
    z-index: 100;
    animation: slide-in-blurred-bottom 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both
}

.about {
    margin-top: 50px;
    box-sizing: border-box;
    padding: 2.5rem;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}


.about h1 {
    margin-bottom: 1rem;
}

.about .content {
    max-width: 600px;
}

.about .image-wrapper {
    max-width:500px;
    margin-left:3rem;
    display:flex;
    align-items:center;
}

.about .content ul {
    padding: 0;
    list-style-type: none;
}

.about img {
    width:auto;
    height:auto;
    max-width: 100%;
}

footer {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    margin-bottom: 50px;
    opacity:0.7;
    transition: opacity 0.3s;
}

footer:hover {
    opacity:1;
}

@keyframes idle {
    0% {
        top: 10px;
    }
    55% {
        top: 30px;
    }
    100% {
        top: 10px;
    }
}

@keyframes appear {
    0% {
        opacity: 0;
        bottom: -15px;
    }
    100% {
        opacity: 1;
        bottom: 0;
    }
}

@keyframes jello-vertical {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    30% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }
    40% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }
    50% {
        -webkit-transform: scale3d(0.85, 1.15, 1);
        transform: scale3d(0.85, 1.15, 1);
    }
    65% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
    }
    75% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes slide-in-blurred-bottom {
    0% {
        -webkit-transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
        transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
        -webkit-filter: blur(40px);
        filter: blur(40px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0) scaleY(1) scaleX(1);
        transform: translateY(0) scaleY(1) scaleX(1);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}

@media screen and (max-width: 1000px) {
    main {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items:stretch;
        padding:1rem;
    }

    h2 {
        max-width:100%;
    }

    main header h1 {
        margin-bottom:0;
    }

    main .scroll {
        margin-top:20px;
        width:100%;
    }

    .about {
        margin-top:15px;
        flex-direction: column;
    }

    main .credit {
        text-align: left;
    }
}

@media screen and (min-width: 1800px) {
    main .text-box{
        font-size: 1.1rem;
    }

    .about .content {
        font-size: 1.1rem;
    }
}